[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}
[contenteditable]:focus {
  outline: none;
}
.code-content {
  margin: 10px 0;
}
.CodeMirror {
  border: 1px solid #E2E2E2;
}
.same-btn-height {
  height: 34px;
  line-height: 34px;
}
.footer {
  padding: 10px 0 50px;
  margin: 100px 0;
  border-top: 1px solid #F1F1F1;
}
