[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}
[contenteditable]:focus, button:focus {
  outline: none !important;
}
.code-content {
  margin: 10px 0;
}
.CodeMirror {
  border: 1px solid #E2E2E2;
}
.CodeMirror-merge-gap {
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  border-left: 0;
  border-right: 0;
}
.footer {
  padding: 10px 0 50px;
  margin: 100px 0;
  border-top: 1px solid #F1F1F1;
}
.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.touched {
  font-style: italic;
  color: #FF2F2F;
}
.active .touched {
  color: #FFF;
}
