[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #ccc;
}
[contenteditable]:focus {
  outline: none;
}
p[contenteditable] {
  white-space: pre-wrap;
  font-family: monospace;
  display: block;
  min-height: 100px;
}
